<footer>

  <h1>Social links</h1>

<!-- Mustache code below -->
    <ul>
    {{#footer}}
      <li>{{fb_link}}</li>
      <li>{{twitter_link}}</li>
      <li>{{twitter_link}}</li>
    {{/footer}}
    </ul>

</footer>
