<!-- <div class="hero">
  <img src="{{hero-src}}" alt="{{hero-alt}}"/>
</div> -->
<div class="container-fluid">
  <img class="lazy" data-src="assets/img/1.jpg" />
  <img class="lazy" data-src="assets/img/2.jpg" />
  <img class="lazy" data-src="assets/img/3.jpg" />
  <img class="lazy" data-src="assets/img/4.jpg" />
  <img class="lazy" data-src="assets/img/5.jpg" />
  <img class="lazy" data-src="assets/img/6.jpg" />
  <img class="lazy" data-src="assets/img/7.jpg" />
  <img class="lazy" data-src="assets/img/1.jpg" />
  <img class="lazy" data-src="assets/img/2.jpg" />
  <img class="lazy" data-src="assets/img/3.jpg" />
  <img class="lazy" data-src="assets/img/4.jpg" />
  <img class="lazy" data-src="assets/img/5.jpg" />
  <img class="lazy" data-src="assets/img/6.jpg" />
</div>
