<!doctype html>
<html lang="en">
  <head>
    <title>
      {{#if title}}
        {{title}}
      {{else}}
        TVS Wego
      {{/if}}
    </title>
    {{> styles}}

  </head>
  <body>
    <!-- Start- Kashi's part -->
    {{> nav }}

    {{> hero }}
<!-- END- Kashi's part -->

    {{> tabs }}

    {{> footer }}

    {{> scripts }}
  </body>
</html>
